<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <div class="login-input" style="margin-top: 30px">
        <label for="input">User Name</label>
        <br>
        <input class="input" id="userName" type="text">
      </div>

      <div class="login-input" style="margin-top: 5px">
        <label for="input">Password</label>
        <br>
        <input id="password" class="input" type="text">
      </div>
      <div class="button-container">
        <a href="">forgot password?</a>
        <br>
        <input id="button-login" type="button" value="Login">
      </div>
    </div>
    <script src="/assets/js/login.js"></script>
  </body>
</html>
