<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" style="background-color: antiquewhite;"> 
        <h1>List Manager</h1>
        <div class="input-container">
            <input type="text" id="itemInput" placeholder="Enter an Item">
            <button onclick="addItem()">Add Item</button>
              
            
            <ul id="itemList">
                
            </ul>
            
        </div>
    </div>
    <script src="/assets/js/item-list.js"></script>
</body>
</html>